<section class="row" data-ng-controller="CategoriesController" data-ng-init="auth();">
     <div ng-include="'./modules/categories/views/partials/admin-header.client.view.html'"></div>
    <div class="col-md-10">
   
    <div class="page-header">
        <h1>New Category</h1>
    </div>
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                     <div class="checkbox">
                        <label>
                          <input data-ng-model="isActive" data-ng-checked="true" id="isActive" type="checkbox"> Is Active
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-raised">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        // $('[data-toggle="popover"]').popover(); 
        // $('.popover').popover(); 
        // $.material.init();

    });
    </script>
</section>