<div class="modal-header">
    <center><h3 class="modal-title"> Reset your password</h3></center>
</div>
<div class="modal-body">
    <p class="small text-center">Enter your account username or email.</p>
    <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="username" required>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!-- <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div> -->
            </fieldset>
        </form>
        <center>
            <h3>OR</h3>
        </center>
        <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="email" required>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row col-md-12">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function(){
            // $.material.init();
        });
</script>
<style type="text/css">
	.notbold{
    	font-weight:normal
	}	​
</style>
