<div class="col-xs-2 list-group sidebar paddingleft left-side">
    <!-- <img src="{{user.profilePictureURL}}" width="160px" style="background-color:white; border:1px solid #eee; padding:2px; border-radius:5px;" > -->
    
     <div class=" pull-left"> <img  src="{{user.profilePictureURL}}"  width="100%" onError="this.onerror=null;this.src='assets/images/noavatar.jpg';"/> </div>
   
    <!-- <small>Member since:</small> {{user.created | date : 'MMM d-yy'}} <br/>
    <small>Last Login:</small> {{user.lastLogin | date : 'MMM d-yy'}}
    <hr/>
    <h4>Yajidu Summary</h4>
    <strong>{{history.length ? history.length : 0}}</strong> Jobs Completed <br/>
    <strong>{{totalClients ? totalClients : 0}}</strong> Clients <br/>
    <strong>{{repeatRate ? repeatRate : 0 | number : 0}}%</strong> Repeat
     -->
</div>

