<section class="row" data-ng-controller="HireController" ng-init = "initList(); loadInfo(); loadSubcategories();">
	<!-- <div ng-include="'./modules/hire/views/partials/hire-header.client.view.html'"></div> -->
    <div class="col-sm-10">
        <div class="page-header">
            <h1>Browse_Talent</h1>
        </div>
        <div >

            <small>Explore Qatar's top pool of talented tutors, teachers, instructors, coaches, professionals, service providers to find the right match for you.</small>
            <br/>
            <br/>
            <center>
                <form class="form-inline" data-ng-submit="browseTalent(query)">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Search Freelancer</label>
                        <div class="input-group">
                            <!-- <div class="input-group-addon">Freelancer</div> -->
                            <input type="text" ng-value="" data-ng-model="query" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-raised">Search</button>
                    
                </form>
            </center>
            <br /> <br />
        </div>
    <div>
        <h3>Categories</h3>
        <div data-ng-repeat="category in categories | orderBy:'name'" calss="row col-md-12">
                    <div class="col-md-4">
                        <h4>{{category.name}} </h4>
                        <div data-ng-repeat="subcategory in subcategories | orderBy:'name'">
                            <div data-ng-if="subcategory.category.name == category.name">
                                <a data-ng-href="#!/talent/by-subcategory-id/{{subcategory._id}}">{{subcategory.name}}</a>
                            </div>
                        </div>
                    </div>
        </div>
       
    </div>
    <style type="text/css">
    .job-card {
        padding: 10px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
    .nav-tabs.nav-justified {
    width: 50%;
    }
    
    .job-card a {
        font-size: 16px;
        font-weight: bold;
    }
    .job-card .profile a{
        font-size: :12px;
        font-weight: normal;
    }
    .job-card .job-type{
        font-weight: bold;
    }
    .job-card p{
        font-size: 12px;
    }
    .job-card .client{
        padding: 10px 0px;
    }
    </style>
</section>